@page "{id:int}"
@model FitnessChallengeApp.Pages.Challenges.JoinModel
@{
    ViewData["Title"] = "Join Challenge";
}

<h1>Join Challenge</h1>

<p>Are you sure you want to join the challenge: <strong>@Model.Challenge.Title</strong>?</p>

<form method="post">
    <button type="submit" class="btn btn-success">Join</button>
    <a asp-page="/Challenges/Index" class="btn btn-secondary">Cancel</a>
</form>


<style>
    .challenges {
        background-image: url('/images/challenges-background.png');
        background-size: cover;
        background-attachment: fixed;
    }
</style>
