html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
.container {
  background-color: rgba(73, 5, 5, 0.8);
  padding: 20px;
  border-radius: 10px;
}
table {
  background-color: #343a40;
  border-radius: 10px;
  overflow: hidden;
}
table thead {
  background-color: #007bff;
}
table th, table td {
  color: #fff;
}
table img {
  border-radius: 5px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}