@page
@model MyApp.Namespace.ReservationServiceModel
@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation List</h1>
<ul>
    <li><a asp-page="./AddRoom">Add Room</a></li>
    <li><a asp-page="./RoomList">Room List</a></li>
</ul>